* {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: #141414;
}

.wrapper {
  background: linear-gradient(180deg, #ffffff00, #141414),
    url("https://occ-0-1551-1740.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABeHb48tSgwhMH9plSHthKeMAkK5JG1B8cMmjcWMyk-yg82hmwxUBZ2f28eZoAVh_mTJcK27RbikQHTl4AhBIeg8SVsrFjj8KRmLB.webp?r=33d");
  height: 1100px;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper p {
  color: #e5e5e5;
  width: 600px;
  margin-left: 50px;
  margin-top: 30px;
  text-shadow: 5px 2px 5px black;
  font-size: 22px;
}

.keepWatching h2 {
  color: #e5e5e5;
  margin-left: 50px;
  margin-top: 100px;
}

.keepWatchingImg {
    display: flex;
    padding-left: 50px;
    padding-top: 20px;
    gap: 15px;
}

.keepWatchingImg img {
  width: 290px;
  height: 150px;
}

#principalTitle {
  position: relative;
  margin-top: 280px;
  margin-left: 50px;
  height: 300px;
  width: 550px;
}

.principalButtons {
  display: flex;
  gap: 20px;
}

.principalButton {
  border: none;
  border-radius: 5px;
  display: flex;
  font-size: 22px;
  margin-top: 20px;
  cursor: pointer;
  align-items: center;
}

.buttonAssistir {
  background-color: white;
  color: black;
  padding: 5px 40px;
  margin-left: 50px;
  gap: 15px;
}

.buttonInfo {
  background-color: #4f51517d;
  color: white;
  padding: 5px 50px;
  gap: 15px;
}

.buttonAssistir:hover {
  background-color: #a2a4a47d;
  transition: 0.4s;
  opacity: 0.6;
}

.buttonInfo:hover {
  background-color: #a2a4a47d;
  transition: 0.4s;
  opacity: 0.6;
}

.infoIcon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 3px;
  border-style: solid;
  border-radius: 50%;
}

.buttonAssistir span {
  font-size: 40px;
  transform: translateY(-3px);
}

img {
  height: 30px;
  width: 120px;
}

#head {
  /* background-color: blueviolet; */
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px 0 0 0;
  position: fixed;
  width: 100%;
  justify-content: space-between;
}

.netflixperfil {
  height: 30px;
  width: 30px;
}

.options {
  display: flex;
  margin-left: 60px;
}

.buttons {
  color: #e5e5e5;
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-right: 60px;
}

.button {
  margin-left: 30px;
  cursor: pointer;
}

.button:hover {
  color: #a2a4a47d;
  transition: 0.4s;
  opacity: 0.6;
}

.menu {
  /* background-color: brown; */
  list-style: none;
  display: flex;
  margin-left: 15px;
}

.menuItems {
  /* background-color: skyblue; */
  color: #e5e5e5;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
}

.menuItems:hover {
  color: #a2a4a47d;
  transition: 0.4s;
  opacity: 0.6;
}

/* .menuItems:active {
    color:  white;
    transition: 0.4s;
    opacity: 0.6;
} */
